DB_HOST=mysql
DB_PORT=3306
DB_USER=easymvp
DB_PASSWORD=JKcHFJYXnkrB6BXE
DB_NAME=easymvp
MYSQL_ROOT_PASSWORD=root
JWT_SECRET=easymvp-secret-key
TZ=Asia/Shanghai

GO_PROXY=https://goproxy.cn,direct
NPM_REGISTRY=https://registry.npmmirror.com
PIP_INDEX_URL=https://mirrors.cloud.tencent.com/pypi/simple/
APT_MIRROR=mirrors.aliyun.com/debian
APT_SECURITY_MIRROR=mirrors.aliyun.com/debian-security
